 .container{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  
}

.form-container {
  
  max-width: 400px;
  margin-top:10px ;
   
  margin: 20px auto;
  padding: 20px;

  
 
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  
  box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, 
            rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}


.form-container select {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-container input{
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container span {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}



.table-container {
  margin-top: 20px;
  height: 700px;
  
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.table-container th,
.table-container td {
  padding: 20px;
  border: 1px solid #ccc;
}

.table-container th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-container td {
  text-align: center;
}
.btn{
  margin: 2px;
}


